* {
    font-size: 1em;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    outline: none;
}

body {
	font: 14px/20px Arial, "Helvetica Neue", sans-serif;
	color: #333;
	border: 0 none;
    /*height: 100%;*/
    margin: 0;
    /*max-height: 100%;*/
    overflow: hidden;
    padding: 0;
}

#wrapper {
	display: block;
}

h1 {
	font-weight: lighter;
	font-size: 33px;
	line-height: 1em;
	text-shadow: #bbb 1px 1px 1px;
}

h1 span {
	font-size: 20px;
	color: #aaa;
	text-shadow: none;
}

ul {
	list-style-type: none;
	padding: 0px;
}

li {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #333;
}

p {
	margin: 10px 0px;
	min-width: 700px;
	max-width: 800px;
}

p a {
	text-decoration: inherit;
	color: inherit;
	border-bottom: 1px dotted #333;
	font-weight: bold;
}

p a:hover {
	text-decoration: none;
	text-shadow: #bbb 1px 1px 1px;
}

blockquote {
	display: block;
	padding-left: 10px;
	border-left: 2px dashed #ddd;
}

div#post-content {
	position: absolute;
	left: 251px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	overflow: auto;
	display: block;
	height: 100%;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

div#post-content #disqus_thread {
	min-width: 700px;
	max-width: 800px;
}

div#sidebar {
	width: 230px;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	margin-left: 10px;
	padding-top: 20px;
	padding-right: 10px;
	border-right: 2px solid #ddd;
}

div#post-list {
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 20px;
	overflow: hidden !important;
	margin-top: 20px;
}

div#post-list ul li {
	margin-bottom: 7px;
}

div#sidebar span#rss a {
	display: block;
	width: 23px;
	height: 23px;
	background: url('/images/rss_icon_o.png') no-repeat;
	opacity: 0.5;
	position: absolute;
	top: 25px;
	left: 180px;
}

div#sidebar span#rss a:hover {
	background: url('/images/rss_icon_o.png') no-repeat;
	opacity: 0.75;
}

#footer {
	position: absolute;
	bottom: 0;
	height: 15px;
	padding-left: 5px;
	padding-bottom: 10px;
	font-size: 12px;
	color: #999;
	background: #fff;
}

#footer span#cc {
	font-family: 'CC-Icons';
}

#footer a {
	color: #999;
	border-bottom: 1px dotted #999;
}

#footer a:hover {
	text-shadow: #bbb 1px 1px 1px;
}

span.timestamp {
	font-family: monospace;
	color: #999;
}

div#meta {
	font-family: monospace;
	margin: 10px 0px;
	color: #999;
}

.dsq-brlink { display: none; }

@font-face {
    font-family: 'CC-Icons';
    src: url('cc-icons-webfont.eot');
    src: local('CC Icons'), 
         local('cc-icons'), 
         url('cc-icons-webfont.ttf') format('truetype'),
         url('cc-icons-webfont.svg#font') format('svg'); 
}