<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="all" charset="utf-8">
</head>
<body>
	<div id="wrapper">
		{{ content }}
		
		<div id="footer">
			<span>&copy; G. Tyler Suggs</span>
		</div>
	</div>
	<script type="text/javascript">
	    var GoSquared={};
	    GoSquared.acct = "GSN-056304-N";
	    (function(w){
	        function gs(){
	            w._gstc_lt=+(new Date); var d=document;
	            var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
	            var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
	        }
	        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
	    })(window);
	</script>
</body>