<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link href="http://feeds.feedburner.com/livingproof/feed" rel="alternate" title="LivingProof" type="application/atom+xml" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" charset="utf-8">
	<link rel="stylesheet" href="/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" charset="utf-8">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.history.js"></script>
	<script type="text/javascript" src="/js/jquery.fancybox-1.3.4.pack.js"></script>
	{% assign firstpost = site.posts.first %}
	<script>
		$(document).ready(function($) {
			function load(post) {
				$('#post-content').load(post);
			}
			$.history.init(function(url){
				load(url == "" ? "{{ firstpost.url }}" : url);
			},
			{ unescape: true });
			
		    $("#post-list > ul > li > a").live('click', function(event){
				var url = $(this).attr("href");
				url = url.replace(/^.*#/, '');
				$.history.load(url);
				event.preventDefault();
		    });
		});
		
	</script>
</head>
<body>
	<div id="wrapper">
		{{ content }}
	</div>
	<!--script type="text/javascript">
	    var GoSquared={};
	    GoSquared.acct = "GSN-056304-N";
	    (function(w){
	        function gs(){
	            w._gstc_lt=+(new Date); var d=document;
	            var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
	            var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
	        }
	        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
	    })(window);
	</script-->
</body>